@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}


body {
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: 1px solid #333333
}


.limited-width {
  display: flex;
  justify-content: space-between;
  padding-inline: 120px;
  width: 100%;
}

.property {
  display: flex;
  gap: 24px;
  width: 100%;
}

.by-car-icon {
  font-size: 32px;
  font-weight: 600;
}

.header-container {
  background-image: url(/assets/img/header-banner.svg);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1440px;
  margin: auto;
}

#page-header {
  display: flex;
  align-items: center;
  color: rgb(255, 0, 0);
  background-color: rgba(0, 0, 0, .4);
  height: 88px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.choice-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  gap: 16px;
  /* margin-left: 120px; */
}

.choice-nav .nav-banner {
  display: flex;
  gap: 16px;
}

.nav-hamburger {
  display: flex;
  font-weight: 600;
  gap: 16px;
}

.nav-hamburger a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.nav-hamburger a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  top: 25px;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}

.nav-hamburger a:hover::before {
  transform: scaleX(1);
}

.btn-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 163px;
  height: 40px;
  background-color: #128C7E;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
}

.btn-hamburger img {
  margin-right: 8px;
}

.cars-to-appley {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  justify-content: flex-start;
  max-width: 1440px;
  padding: 60px 120px;
}

.cars-to-appley .buy-property {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  max-width: 384px;
}

.mbl-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
}

.buy-now a {
  font-size: 16px;
  cursor: pointer;
}

.cars-to-appley .buy-car {
  width: 792px;
  height: 454px;
}

.cars-to-appley .buy-car img {
  width: 100%;
}

.contact-us {
  background-color: #0072ed;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 4px;
  width: 150px;
  height: 55px;
  cursor: pointer;
}

.more-further {
  background-color: transparent;
  color: #fff;
  width: 150px;
  height: 55px;
}

.human-satisfaction {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, #0072ED 0%, #9608C8 100%);
  padding: 120px 80px;
  gap: 50px;
}

.human-satisfaction .human-security {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
}

.human-satisfaction .buy-car-comfort {
  color: #fff;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  gap: 40px;
}

.human-satisfaction .quality-car {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.car-collection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  padding-inline: 120px;
  margin: auto;
  padding-block: 40px;
}

.car-selection-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-selection-title .last-car {
  font-size: 32px;
  font-weight: 600;
}

.car-selection-title .look-collection-car {
  display: flex;
  font-weight: 600;
  color: #0072ED;
  cursor: pointer;
}

.car-model {
  display: flex;
  justify-content: space-between;
  padding-block: 40px;
}

.suv-super-sport {
  display: flex;
  flex-direction: column;
}


.suv-super-sport span {
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}

.car-collection .slider-model {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

/* .car-collection .slider-model img {
  margin-right: 50px;
  width: 83px;
} */

.card-question {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f2f2f2;
  margin: auto;
  gap: 16px;
}

.what-customers-say {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  background-color: #f2f2f2;
}

.card {
  background-color: #333333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 10px;
  line-height: 24px;

}

.section-car-buy {
  background-color: #f2f2f2;
  padding-block: 24px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.card-question .card p {
  font-size: 14px;
  color: #E6E6E6;

}

.card-question .card h4 {
  font-weight: 600;
  color: #fff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 16px 16px;
}

.car-to-buy {
  display: flex;
  justify-content: center;
  background-image: url(/assets/img/911-porsche.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 120px;
}

.car-to-buy-login {
  display: flex;
  justify-content: center;
  color: #fff;
}

.car-to-buy-login span {
  margin: auto;
  width: 575px;
  line-height: 23px;
}

.car-to-buy-login a {
  background-color: #0072ed;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.buy-car-footer {
  border: 1px solid #1a1a1a;
  background-color: #1a1a1a;
  color: #fff;
}

.footer-container {
  display: flex;
  margin: 50px auto auto auto;
  width: 1035px;
}

.buy-car-footer .adress-email {
  line-height: 20px;
}

.buy-car-footer .adress-email p {
  font-size: 13px;
}

.buy-car-footer .adress-email span {
  font-size: 24px;
  font-weight: 700;
  color: #666666;
}

.buy-car-footer .choice-container {
  display: flex;
  margin: auto auto auto 24px;
}

.buy-car-footer .choice-1 span {
  font-size: 24px;
  font-weight: 700;
  color: #666666;
}

.buy-car-footer .choice-1 p {
  font-size: 13px;
  margin-top: 20px;
}

.company-name-social-media {
  display: flex;
  justify-content: space-between;
  width: 1035px;
  margin: auto;
  margin-top: 40px;
  align-items: center;
}


.company-name-social-media .social-media {
  display: flex;
}

.company-name-social-media .social-media-circle {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  background-color: #fff;
  margin-left: 16px;
  width: 40px;
  height: 40px;
}

.company-name-social-media .social-media-circle img {
  width: 17px;
  height: 19px;
  margin-top: 10px;
}

@media only screen and (max-width: 380px) {
  .card-question{
    display: flex;
    flex-wrap: wrap;
  }

  .human-satisfaction .buy-car-comfort{
    display: flex;
    padding-inline: 0 !important;
  }

  .cars-to-appley{
    display: flex;
    padding: 0 100px !important;
  }
}

@media only screen and (max-width: 450px) {
  .card-question{
    display: grid;
    grid-template-columns: auto;
  }
  .car-to-buy-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .car-model img{
    display: none;
  }

  .car-selection-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }

  .human-satisfaction .human-security{
    width: 290px;
  }

  .human-satisfaction .buy-car-comfort{
    width: 390px;
    gap: 10px;
    padding-inline: 0;
  }

  .company-name-social-media{
    width: auto;
  }

  .buy-car-footer .choice-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .buy-car-footer .adress-email{
    display: flex;
    flex-direction: column; 
    width: 364px;
    gap: 20px;
  }

  .footer-container{
    display: flex;
    width: 400px;
  }
  .buy-car-footer .choice-1 p{
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .property{
    display: none;
    flex-direction: column;
  }

  .nav-hamburger {
    display: none;
  }

  .card-question{
    display: grid;
    grid-template-columns:auto;
  }

  .human-satisfaction .buy-car-comfort{
    display: none;
    padding-inline: 0 !important;
  }

  .header-container{
    background-image: none;
  }

  #page-header{
    background-color: #1a1a1a;
  }
  .cars-to-appley{
    display: flex;
    padding: 0px 100px !important;
  }
}

@media only screen and (max-width: 700px) {
  .card-question{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-container{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 20px;
  }

  .human-satisfaction .buy-car-comfort{
    width: 580px;
  }

  .car-model img{
    display: none;
  }

  .buy-car-footer .choice-container{
    gap: 20px;
    margin: 0;
  }
  .buy-car-footer .adress-email{
    display: flex;
    line-height: 20px;
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .cars-to-appley .buy-property {
    font-size: 27px;
  }

  .buy-now {
    display: none;
  }

  .company-name-social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    gap: 20px;
    width: auto;
  }
  .footer-container{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 960px) {
  .human-satisfaction .buy-car-comfort{
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
  }

  .footer-container{
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }

  .card-question{
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1073px) {
  .cars-to-appley .buy-property {
    font-size: 27px;
  }

  .cars-to-appley .buy-car {
    height: 324px;
  }

  .btn-hamburger {
    display: none;
  }

  .car-model {
    display: flex;
    flex-direction: column;
  }

  .car-to-buy-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .car-to-buy-login span{
    width: 245px;
  }

  .human-satisfaction .buy-car-comfort{
    padding-inline: 256px;
    width: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .cars-to-appley {
    padding: 0 100px;
  }

  .car-collection .slider-model {
    display: none;
  }
}


@media only screen and (max-width: 1300px) {
  .cars-to-appley {
    padding: 13px 100px;
  }
}